:root {
    --ghost-accent-color: #00573D;
    --color-primary: var(--ghost-accent-color);
    --color-primary-dark: var(--ghost-accent-color);
    --color-link: var(--ghost-accent-color);
    --color-link-hover: var(--ghost-accent-color);
    --bg-code: #fafafa;
    --color-code: black;
}

body {
    color: var(--body-color);
    background-color: var(--bg);
}

.chroma {
    color: var(--color-code) !important;
}

.chroma,
.highlight {
    width: 100%;
}

.meta {
    margin-top: 2em;
}

.grid {
    column-count: 2;
    column-gap: 1rem;
}

.grid-preview {
    column-count: 4;
    column-gap: 1rem;
    display: grid;
    margin-bottom: 2em;
    grid-template-columns: repeat(3, 1fr);
}

.col-big {
    grid-column-start: 2;
    grid-column-end: 4;
}

.col-small {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}

.thumbnail {
    height: 190px;
    max-height: 190px;
}

figure {
    display: inline-block;
    margin: 0 0 0 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.site-post {
    min-height: calc(100vh - 15rem);
}

.avatar-author {
    display: initial;
}

.story-title {
    margin: 0 0 .4em;
}

.summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}