{{ define "main" }}
<div class="post-wrap max-w-1100 relative mx-auto">
    <div class="px-4 mx-auto max-w-740 relative" role="main">
        <article class="article post-body" id="post-body">
            {{ partial "toc.html" . }}

            {{ if gt .WordCount 400 }}
            <button onclick="topFunction()" id="backtotopButton">
                <em class="fa fa-angle-up"></em>
            </button>
            {{ partial "backtotop.html" . }}
            {{ end }}

            {{ partial "posttags.html" . }}
        </article>
        {{ partial "postfooter.html" . }}
        {{ if (not (isset .Params "disable_comments")) }}
        {{ partial "disqus.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}
