{{ if not .IsHome}}
{{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
<header>
    {{ partial "nav.html" . }}
    <div class="intro-header">
        <div class="container">
            <div class="{{ .Type }}-heading">
                {{ if eq .Type "post" }}
                {{ partial "posttags.html" . }}
                {{ end }}

                {{ if .Params.Emoji }}
                {{ .Params.Emoji | emojify }}
                {{ end }}

                {{ if eq .Type "list" }}
                <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
                {{ else }}
                <h1>{{ with $title }}{{ . }}{{ else }}<br/>{{ end }}</h1>
                {{ end }}

                {{ if eq .Type "post" }}
                {{ if .Params.Excerpt }}
                <div class="post-entry">
                    <p>{{ .Params.Excerpt }}</p>
                </div>
                {{ end }}
                {{ partial "postmeta.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</header>
{{ else }}
<header>
    {{ partial "nav.html" . }}
</header>
{{ end }}
