<header class="header bg-header w-full text-sm flex items-center sticky top-0 z-20">
    <div class="header-wrap mx-auto flex items-center flex-auto px-4 w-full max-w-extreme">
        {{ if .Site.Title }}
        <div class="header-left mr-5 flex flex-none items-center">
            <a href="/" class="header-logo inline-block leading-none godo-tracking" data-event-category="Header" data-event-action="Logo" data-event-label="Click" data-event-non-interaction="true">
                <span class="text-2xl font-bold">{{ .Site.Title }}</span>
            </a>
        </div>
        {{ end }}
        <nav class="header-center mainMenu relative flex items-center pr-5 flex-grow overflow-auto lg:overflow-visible">
            <ul itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" class="nav whitespace-no-wrap hidden lg:flex">

                {{ $current := . }}
                {{ range .Site.Params.nav }}
                <li itemprop="name" class="ml-5">
                    {{ $active := in $current.RelPermalink .url }}
                    <a itemprop="url"
                       href="{{ .url | relLangURL }}"
                       class="mainMenu-link godo-tracking hover:text-primary font-medium {{ if $active }}active{{ end }}"
                       data-event-category="Header"
                       data-event-action="Menu"
                       data-event-non-interaction="true">
                        {{ .name }}
                    </a>
                </li>
                {{ end }}

                <li class="dropdown is-hoverable ml-5 hidden">
                    <a href="#" class="mainMenu-link dropdown-trigger hover:text-primary font-medium">
                        <span>More</span>
                        <svg class="icon is-small transform rotate-90"><use xlink:href="#icon-arrow-forward"></use></svg>
                    </a>
                    <div class="dropdown-menu whitespace-normal">
                        <div class="dropdown-content">
                            <div class="js-dropdown-menu"></div>
                            <hr class="dropdown-divider">
                            <div class="js-social-media social-media social-media">

                                {{ range .Site.Params.social }}
                                <a href="{{ .url | relLangURL }}"
                                   title="undefined"
                                   class="hover:text-{{ .name }} p-2 inline-block"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    {{ if .icon }}
                                    <em class="{{ .icon }}" data-fa-transform="shrink--6"></em>
                                    {{ else }}
                                    {{ .name }}
                                    {{ end }}
                                </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="header-right flex-none flex justify-end items-center u-menu-color">
            <!--dark mode-->
            <a class="js-dark-mode button is-white items-center hidden mr-2 md:flex custom-control-input"
               aria-label="Dark and Light Mode">
                <em class="fas fa-adjust" data-fa-transform="shrink--6"></em>
            </a>

            <!--search-->
            <a href="javascript:;" aria-label="Toggle Search" class="js-modal-button hidden godo-tracking button is-white mr-2" data-target="modal-search" aria-haspopup="true" data-event-category="Header" data-event-action="Search" data-event-label="Click" data-event-non-interaction="true">
                <em class="fas fa-search" data-fa-transform="shrink--6"></em>
            </a>
            <div class="js-menu-toggle menu-burger button is-white relative ml-2 lg:hidden"><span></span><span></span><span></span></div>
        </div>
    </div>
</header>

<!--Burger menu-->
<div class="nav-mob fixed inset-0 pt-16 pb-5 bg-header h-screen z-10 w-full text-center lg:hidden">
    <div class="nav-mob-wrap absolute inset-0 top-16 py-5 overflow-auto flex justify-between flex-col">

        <div class="py-4 flex justify-center md:hidden buttons">
            <a class="js-dark-mode button is-white items-center mr-2 md:flex custom-control-input"
               aria-label="Dark and Light Mode">
                <em class="fas fa-adjust" data-fa-transform="shrink--6"></em>
            </a>
        </div>

        <div class="py-4">
            <ul>
                {{ range .Site.Params.nav }}
                <li>
                    <a href="{{ .url | relLangURL }}"
                       class="block px-5 py-2 font-medium text-22 leading-tight">
                        {{ if .icon }}
                        <em class="{{ .icon }}" data-fa-transform="shrink--6"></em>
                        {{ else }}
                        {{ .name }}
                        {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="js-social-media social-media nav-mob-social-media social-media is-inline py-4">
            {{ range .Site.Params.social }}
            <a href="{{ .url | relLangURL }}"
               title="undefined"
               class="hover:text-{{ .name }} p-2 inline-block"
               target="_blank"
               rel="noopener noreferrer">
                {{ if .icon }}
                <em class="{{ .icon }}" data-fa-transform="shrink--6"></em>
                {{ else }}
                {{ .name }}
                {{ end }}
            </a>
            {{ end }}
        </div>
    </div>
</div>
