{{ $readTime := math.Round ( div (countwords .Content) 220.0) }}
<span class="meta-post">
    {{ .Site.Author.image }}
    {{ .Site.Author.name }}
    &nbsp;{{ .Lastmod.Format ( .Site.Params.dateformat | default "2 Jan 2006") }} ·
    {{ $readTime }} {{ i18n "min"}} {{ i18n "read" }}
  {{ if .Params.categories }}
    &nbsp;&nbsp;&nbsp;<em class="fa fa-folder-open"></em>&nbsp;
    {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}{{ if $.Site.Params.uglyurls }}.html{{else}}/{{ end }}">
          {{ . }}
      </a>&nbsp;
    {{ end }}
  {{ end }}
</span>
