<div class="grid-preview">
    {{ if .Params.thumbnail }}
    {{ $thumbnail := .Params.thumbnail }}
    <a href="{{ .Permalink }}" class="col-small">
        <div class="thumbnail" style="background-image: url('{{ $thumbnail }}');background-size: cover;"></div>
    </a>
    <article class="col-big">
        {{ else }}
        <article class="col-big" style="grid-column-start:1;">
            {{ end }}
            <a href="{{ .Permalink }}" class="">


                <h2 class="post-title story-title text-2xl font-sans text-title leading-tight">
                    {{ if .Params.Emoji }}
                    {{ .Params.Emoji | emojify }}
                    {{ end }}
                    {{ .Title }}
                </h2>
            </a>
            {{ if .Params.Summary }}
            <div class="post-entry story-excerpt leading-normal text-gray-500">
                <p class="story-excerpt mb-5 text-lg leading-normal text-gray-500">{{ .Params.Summary }}</p>
            </div>
            {{ end }}
        </article>
</div>