<div class="grid-preview">
    {{ if .Params.thumbnail }}
    {{ $thumbnail := .Params.thumbnail }}
    <a href="{{ .Permalink }}" class="col-small">
        <div class=" story-image mb-5 h-52 relative overflow-hidden">
            <img class="story-img inset-image block blur-up lazyautosizes lazyloaded" src="{{ $thumbnail }}"
                alt="{{ .Title }}" />
        </div>
    </a>
    {{ end }}
    <article class="col-big">
        <a href="{{ .Permalink }}" class="">


            <h2 class="post-title story-title text-2xl font-sans text-title leading-tight">
                {{ if .Params.Emoji }}
                {{ .Params.Emoji | emojify }}
                {{ end }}
                {{ .Title }}
            </h2>
        </a>
        {{ if .Params.Summary }}
        <div class="post-entry story-excerpt leading-normal text-gray-500">
            <p class="story-excerpt mb-5 text-lg leading-normal text-gray-500">{{ .Params.Summary }}</p>
        </div>
        {{ end }}
    </article>
</div>