{{ if .Site.Params.social }}
<div class="js-social-media social-media footer-social-media flex-none lg:mt-0 is-inline">
    {{ range $social :=  .Site.Params.social }}
    <a href="{{ $social.url }}"
       target="_blank"
       class="hover:text-{{ $social.name }} p-2 inline-block"
       name="{{ $social.name }}">
        <em class="{{ $social.icon }}" data-fa-transform="shrink--6"></em>
    </a>
    {{ end }}
    {{ end }}
    {{ if .Site.Params.social_static }}
    {{ $base := .Site.BaseURL }}
    {{ range $social :=  .Site.Params.social_static }}
    <a class="social-icon"
       href="{{ $social.url }}"
       target="_blank"
       name="{{ $social.name }}">
        <img src="{{ $base }}images/{{ $social.icon }}"
             width="20"
             height="20"
             alt="{{ $social.name }}">
    </a>
    {{end}}
</div>
{{ end }}
