<!-- Stylesheets -->
<!--<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/amp.css"/>-->
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css"/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/base.css"/>

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/github.css"/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/zooming.css"/>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/dark-mode.css"/>
{{ range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | absURL }}"/>
{{ end }}
